.detailsTourPackage-inclusion-card {
    min-width: 750px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Inter;
    border-bottom: 2px solid #ddd;
  }
  
  .inclusion, .exclusion {
    width: 50%;
  }
  
  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }

  @media (width <=768px) {
    .detailsTourPackage-inclusion-card {
      width: 100vw;
    }
    .detailsTourPackage-inclusion-card {
      /* flex-direction: column; */
      gap: 10px;
    }
    
  }

  @media (width <= 508px) {
    .detailsTourPackage-inclusion-card {
      width: 100vw;
    }
    .detailsTourPackage-inclusion-card {
      flex-direction: column;
      gap: 10px;
    }
    
  }
  