.background-slider {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  touch-action: pan-y; 
  z-index: 11;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.slide-image {
  object-fit: cover; /* Ensures images are properly fitted */
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background: rgba(0, 0, 0, 0.2);
}

.cloud-overlay {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60%;
  z-index: 11;
}

.cloud-1, .cloud-2 {
  height: auto;
  width: 100%;
  /* max-width: 400px; */
}

.cloud-2 {
  transform: scaleX(-1);
}

.cloud-overlaybelow {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgb(255, 255, 255), transparent);
}

@media (max-width: 768px) {
  .background-slider {
    width: 100vw;
    height: 100%;
  }

   .overlay {
    width: 100vw;
   }
   .cloud-overlay{
    padding: 0;
    position: relative;
 
   }
   .cloud-1 {
    position: absolute;
    left: -15%;
    width: 100vw;
    height: 500px;
  
  }
  .cloud-2 {
    position: absolute;
    right: -15%;
    width: 100vw;
    height: 500px;

  }
}
