.booknow-button {
  display: inline-block;
  width: 100%;
  max-width: 200px; /* Ensures consistent width */
  padding: 10px 20px; /* Adds inner spacing */
  font-family: "Inter", sans-serif; 
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* White text */
  background-color: #007bff; 
  border: none; 
  border-radius: 50px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.booknow-button:hover {
  background-color: #0056b3; 
  transform: scale(1.0); 
}

.booknow-button:active {
  transform: scale(0.95); 
  background-color: #004494; 
}

@media (width <= 750px) {
  .booknow-button {
    display: inline-block;
    width: fit-content;
    padding: 8px 28px; 
    font-family: "Inter", sans-serif; 
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; /* White text */
    background-color: #007bff; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
  }

}
