.Why-Choose-Us-title {
    width: 266px;
    height: 36px;
    /* margin: 0 73px 24px 0; */
    font-family: Inter;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
  }

  .home-whyus-container {
    width: 1200px;
    /* height: 544px; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
  }

  .left-button-container {
    width: 387px;
    height: 544px;
    flex-grow: 0;
    /* margin: 0 20px 0 0; */
    padding: 32px 24px;
    border-radius: 20px;
    background-color: rgba(40, 190, 240, 0.1);
  }


  .left-content-description {
    width: 339px;
    height: 161px;
    /* margin: 24px 0 67px; */
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
  }
  
   .text-style-1 {
    font-weight: bold;
    line-height: 1.58;
  }

  .K-Happy-Travellers {
    width: 217px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--grays-gray);
  }
  .K-Happy-Travellers.active {
    width: 217px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: black;
  }

  

  .Best-Price-Guarantee {
    width: 205px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--grays-gray);
   
  }

  .Frame-passionservice {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    /* border-bottom: solid 1px var(--black); */
    /* border-bottom: solid 1px var(--grays-gray); */
    border-bottom: solid 1px gray;
    color:gray;
  }

  .Best-Price-Guarantee.active {
    width: 205px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: black;
  }

  .Frame-happytraveller {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    /* border-bottom: solid 1px var(--black); */
    border-bottom: solid 1px gray;
    color: gray;
   
  }

  .Passionate-Service {
    width: 185px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--grays-gray);
 
  }
  .Passionate-Service.active {
    width: 185px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: black;
 
  }

  .Frame-bestprice {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: solid 1px gray;
    /* border-bottom: solid 1px var(--grays-gray); */
    color:gray;
  } 

  .On-Trip-Fast-Support-247 {
    width: 251px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: var(--grays-gray);
 
  }
  .On-Trip-Fast-Support-247.active {
    width: 251px;
    height: 22px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: black;
 
  }

  .Frame-fastsupport {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    /* border-bottom: solid 1px var(--black); */
    /* border-bottom: solid 1px var(--grays-gray); */
    border-bottom: solid 1px gray;
    color:gray;
  }


  .right-posts-container {
    width: 793px;
    height: 544px;
    flex-grow: 0;
    /* margin: 0 0 0 20px; */
    padding: 32px 0 35px;
    border-radius: 20px;
    background-color: rgba(40, 190, 240, 0.1);
  }

.Frame-happytraveller.active{

  border-color: black;
  color: black;
}

.Frame-bestprice.active{
  color:black;  
  border-color: black;
}
.Frame-passionservice.active{
  color: black;
  border-color: black;
}
.Frame-fastsupport.active{
  color: black;
  border-color: black;
}


.image-slider-container1 {
  width: 793px;
  height: 350px;
  /* margin: 31px 0 18px; */
 
}

.image-slider-container2 {
  width: 793px;
  height: 350px;
  /* margin: 31px 0 18px; */
 
}

.image-slide img {
  width: 254px;
  height: 158px;
  flex-grow: 0;
  border-radius: 20px;
  
  /* gap: 12px;
  margin: 0 0 34px;
  padding: 0; */
  
 
}

.happy-traveller-heading{
  width: 745px;
  height: 45px;
  flex-grow: 0;
  /* margin: 0 24px 33px; */
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
  
  
}

.img-component{
  width: 793px;
  height: 158px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 12px; */
  /* margin: 0 0 10px; */
  padding: 0;
}

.Vector1 {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  rotate: -15deg;
  position: absolute;
  z-index: +2;
  mix-blend-mode:multiply;
  padding-left: 10px;
  margin-top: 3px;
}

.Vector2 {
  width: 49.2px;
  height: 49px;
  /* margin-top: 202px; */
  /* margin-left: 234px; */
  transform: rotate(-14.13deg);
  z-index: +2;
  mix-blend-mode:multiply;
position: absolute;
}





.lazy-yatra-container p {
  width: 745px;
  height: 45px;
  flex-grow: 0;
  /* margin: 0 24px 33px; */
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.device-frame {
  /* margin: 0 auto; */
  width: 65%;
  max-width: 600px;
  height: 90%;
  border: 12px solid black; /* Outer frame for the device */
  border-radius: 30px; /* Rounded corners for the device */
  background-color: #fff; /* White background for the device screen */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds depth to the frame */
}

.device-container{
  width: 727px;
  height: 340px;
  /* margin: 4px 0 4.1px; */
}

@media (max-width: 786px) {

  .right-posts-container {

    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
   .home-whyus-container {
    width: 100vw;
    flex-direction: column;

  }
  
}