
.contactUs1-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding:20px  10px;
    border-radius: 20px;
    
 
  }

  .contactUs-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .contactUs-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

@media (width <= 768px) {
    .contactUs1-layout{
        width: 100vw;
        flex-direction: column;
        padding: 20px 10px;
      
    }
}
