.highlightsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 387px;
  width: 100%;
}

.highlightsTitle {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #6C6B6B;
}

.highlightsText {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #6C6B6B;
  margin: 0; /* Remove default margin of <p> */
}

@media (max-width: 768px) {
  .highlightsContainer {
      min-width: 100%;
      gap: 4px;
  }
  .highlightsText {
      font-size: 14px;
  }
}
