.discoverAll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0rem;
    flex-grow: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-blue);
  
    }
    
    .discoverAll-container:hover {
      /* background-color: rgba(0, 123, 255, 0.1);  */
    }
    
    .discoverAll{
      font-family: Inter;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: var(--primary-blue); 
    }
    
    .down {
      width: 4px;
      height: 8px;
      
    }

    @media (width <= 750px) {
      .discoverAll-container {

      }
      .ediscoverAll{

      }
      .down {

      }
    }
    